@import url("https://use.typekit.net/qyv7gbn.css");
/*------------------------------------------------------CARD TYPE all white*/

body {
    /*background-color: #27274d;*/
    background-color: #F2F1EF;
}

p {
    font-size: 0.875rem;
    font-weight: 300;
}
[class*="bg"] {
    background: transparent no-repeat left top;
    background-size: 100% 100%;
}

.card-left:before {
    width: 540px;
    height: 100%;
    background: transparent no-repeat left top;
    background-size: 100% 100%;
    background-image: url("../images/black_lte_sm.png");

}

[class*="mg"] {
    background: transparent no-repeat left top;
    background-size: 100% 100%;
    background-attachment: fixed;
    /*background-position: center;*/
    /*position: absolute;*/
    height: 100%;
    width: 100%;

}

[class*="hg"] {
    /*width: 100%;*/
    background-attachment: scroll;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-color: #27274d;*/
}

[class*="ag"] {
    /*height: 100%;*/
    /*background-attachment: scroll;*/
    /*background-position: left top;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*top: 5px;*/
}

[class$="black"]{
    /*background-color: #2E2C2E;*/
    background-image: url("../images/black_med_sm.png");
}

[class$="matte"]{
    background-image: url("../images/black_lte_sm.png");
    /*background-image: url("../images/black_med_sm.png");*/
}

[class$="grey"]{
    background-image: url("../images/grey_lte_sm.png");
}

[class$="red"] {
    /*background-color: #89413D;*/
    background-image: url("../images/red_med_sm.png");
}

[class$="blue"] {
    /*background-color: #37455C;*/
    background-image: url("../images/blue_med_sm.png");
}

[class$="green"] {
    /*background-color: #213128;*/
    background-image: url("../images/green_med_sm.png");
}

[class$="yellow"] {
    /*background-color: #D27511;*/
    background-image: url("../images/yellow_drk_sm.png");
}

[class$="obsidian"]{
    background-color: #2E2C2E;
}

[class$="ruby"]{
    background-color: #89413D;
}

[class$="slate"] {
    background-color: #37455C;
}

[class$="eggplant"] {
    background-color: #3E223D;
}

[class$="forest"] {
    background-color: #213128;
}

[class$="w0"] {
    background-color: #F4F4F4;
}

[class$="w1"] {
    background-color: #FAFAFA;
}

[class$="w2"] {
    background-color: #F5F4F2;
}

[class$="w3"] {
    background-color: #F2F1EF;
}

.container, .container-fluid {
    /*margin-top: 50px;*/
    /*padding-top: 50px;*/
    padding-left: 0;
    padding-right: 0;
}

.container {
    /*margin-right: 0;*/
    /*margin-left: 0;*/
}


.row {
    margin-left: 0;
    margin-right: 0;
}

[class*="col"]{
    /*border: 1px solid #707070;*/
    /*background-color: rgb(100, 0, 228);*/
    /*color: rgb(255, 255, 255);*/
    padding-left: 0;
    padding-right: 0;
}

.card {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);
    border: none;
}

.card-header,
.card-body {
    border: 1px solid rgba(112, 112, 112, 0.125);
}

.card-body {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);
}

.card-header {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);
    /*padding: .25rem .75rem;*/
}

.card-footer {
    /*padding: .25rem .75rem;*/
}

.card.card-left,
.card-left > .card-header,
.card-left > .card-body {
    box-shadow: none;
}

.card-left > .card-footer {
    /*box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);*/
}

.card-left > .card-header {
    color: #fafafa;
}

.card-left > .card-header,
.card-left > .card-body,
.main-tab {
    /*border: 1px solid #707070;*/
}

.card.card-right,
.card-right > .card-header,
.card-right > .card-body {
    box-shadow: none;
    background-color: inherit;
}

.accordion {
    /*box-shadow: -10px 0 0 0 #000;*/
}

#headingOne,
[aria-labelledby="headingOne"] .card-left {
    box-shadow: 0 -10px 0 0 #000;
}

#headingTwo,
[aria-labelledby="headingTwo"] .card-left {
    box-shadow: 0 -10px 0 0 #B84A30;
}

#headingThree,
[aria-labelledby="headingThree"] .card-left {
    box-shadow: 0 -10px 0 0 #1D49B8;
}

#headingFour,
[aria-labelledby="headingFour"] .card-left {
    box-shadow: 0 -10px 0 0 #B8A922;
}

#headingFive,
[aria-labelledby="headingFive"] .card-left {
    box-shadow: 0 -10px 0 0 #234D3E;
}

#headingSix,
[aria-labelledby="headingFive"] .card-left {
    box-shadow: 0 -10px 0 0 #3E223D;
}

.main-tab {
    z-index: 5;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 30px 30px 0 0;
    height: 60px;
    /*width: 250px;*/
    /*background-color: #fbfbfb;*/
    /*border: 1px solid rgba(112, 112, 112, 0.125);*/
}

.main-body {
    border-right: 10px solid #27274d;
}

.bg-body {
    background-color: #27274d;
}

.about-section .card-header {
    background-color: #27274d;
}

.about-section .card-body {
    background-color: #B84A30;
}

a > h3 {
    color: #fafafa;
}

/*.collapse.width {*/
/*    height: auto;*/
/*    width:0;*/
/*    -webkit-transition: width 0.35s ease;*/
/*    -moz-transition: width 0.35s ease;*/
/*    -o-transition: width 0.35s ease;*/
/*    transition: width 0.35s ease;*/
/*}*/

/*$('a[data-toggle="collapse"]').on('click', function () {*/
/*    var $target,*/
/*    offset;*/

/*    if ($(this).closest('.panel').prev().find('.panel-collapse').hasClass('in')) {*/
/*        $target = $(this).closest('.panel').prev().find('a[data-toggle="collapse"]');*/
/*        offset = 0;*/
/*    } else {*/
/*        $target = $(this);*/
/*        offset = 36;*/
/*    }*/

/*    $('html, body').animate({*/
/*    scrollTop: $target.position().top - offset*/
/*    });*/
/*});*/

/*.collapsing {*/
/*    position: relative;*/
/*    height: 0;*/
/*    overflow: hidden;*/
/*    transition-timing-function: ease;*/
/*    transition-duration: .35s;*/
/*    transition-property: height;*/

/*    &.width {*/
/*         width: 0;*/
/*         height: auto;*/
/*         transition-property: width;*/
/*     }*/
/*}*/

/*.navbar-collapse.width {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*> ul { width: 200px; }*/
/*}*/