@import url("https://use.typekit.net/qyv7gbn.css");

/*------------------------------------------------------------------------------- CORE BEHAVIOR */

/*----------------------------------------------------------- Color Rules */

body {
    background-color: #F2F1EF;
}

/*[class*="bg"] {*/
/*    background: transparent no-repeat left top;*/
/*    background-size: 100% 100%;*/
/*}*/

[class*="mg"] {
    background: transparent no-repeat left top;
    background-size: 100% 100%;
    background-attachment: fixed;
    /*background-position: center;*/
    /*position: absolute;*/
    height: 100%;
    width: 100%;

}

[class*="hg"] {
    /*width: 100%;*/
    background-attachment: scroll;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-color: #27274d;*/
}

[class*="ag"] {
    /*height: 100%;*/
    /*background-attachment: scroll;*/
    /*background-position: left top;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*top: 5px;*/
}

[class$="black"]{
    /*background-color: #2E2C2E;*/
    background-image: url("../images/black_med_sm.png");
}

[class$="matte"]{
    background-image: url("../images/black_lte_sm.png");
    /*background-image: url("../images/black_med_sm.png");*/
}

[class$="grey"]{
    background-image: url("../images/grey_med_sm.png");
}

[class$="red"] {
    /*background-color: #89413D;*/
    background-image: url("../images/red_med_sm.png");
}

[class$="blue"] {
    /*background-color: #37455C;*/
    background-image: url("../images/blue_med_sm.png");
}

[class$="green"] {
    /*background-color: #213128;*/
    background-image: url("../images/green_med_sm.png");
}

[class$="yellow"] {
    /*background-color: #D27511;*/
    background-image: url("../images/yellow_drk_sm.png");
}

[class$="obsidian"]{
    background-color: #2E2C2E;
}

[class$="ruby"]{
    background-color: #89413D;
}

[class$="slate"] {
    background-color: #37455C;
}

[class$="eggplant"] {
    background-color: #3E223D;
}

[class$="forest"] {
    background-color: #213128;
}

[class$="papaya"] {
    background-color: #D27511;
}

[class$="sand"] {
    background-color: #929181;
    /*background-color: #B7B1A8;*/
}

[class$="w0"] {
    background-color: #F4F4F4;
}

[class$="w1"] {
    background-color: #FAFAFA;
}

[class$="w2"] {
    background-color: #F5F4F2;
}

[class$="w3"] {
    background-color: #F2F1EF;
}

/*----------------------------------------------------------- Paddings/Margins */

.container, .container-fluid {
    /*margin-top: 50px;*/
    /*padding-top: 50px;*/
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

[class*="col"]{
    padding-left: 0;
    padding-right: 0;
}

/*----------------------------------------------------------- Card Rules */

.card {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);
    border: none;
    border-radius: 0;
}

.card-header,
.card-body,
.card-footer {
    border: 1px solid #707070;
    border-radius: 0;
    /*border-top: none;*/
}

.card-header:first-child,
.card-footer:last-child,
.card-body[class*=bg-] {
    border-radius: 0;
}

.card.card-left,
.card-left > .card-header,
.card-left > .card-body {
    box-shadow: none;
}

.card.card-right,
.card-right > .card-header,
.card-right > .card-body {
    box-shadow: none;
    background-color: inherit;
}

.card-right .card-body,
.card-right .card-header {
    border-top: none;
}

.card-right .card-header {
    border-bottom: none;
}

.card-right .card-header h4 {

}

/*----------------------------------------------------------- Font Rules */


a > h3, a > h1 {
    color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*color: #707070;*/
    text-shadow: #fff 0 1px 0, #D7D7D6 0 -1px 0;
    -webkit-font-smoothing: antialiased;
}

p,
i {
    text-shadow: #fff 0 1px 0;
    -webkit-font-smoothing: antialiased;
}

i {
    color: #B6B6B6;
}
/*------------------------------------------------------------------------------- ELEMENT BEHAVIOR */

/*hr {*/
/*    border-top: 1px solid #777777;*/
/*    width: 100%;*/
/*    margin: 5px 0px;*/
/*}*/


/*----------------------------------------------------------- Tab Button Containers */

button {
    box-shadow: none;
}

.tab-button h4 {
    /*font-weight: 300;*/
    font-size: 1rem;
    color: #B6B6B6;
    /*z-index: 3;*/
}

.tab-button span {
    text-align: center;
    /*font-family: "Input Mono", monospace;*/
    /*text-transform: lowercase;*/
    letter-spacing: 2px;
    text-shadow: #fff 0 1px 0;
    -webkit-font-smoothing: antialiased;
}

.tab-button span > i {
    color: #D4D6D6;
    text-shadow: 0 3px 0 0 #A4A4A4, 0 -4px 0 0 #fafafa;

    /*font-family: "Major Mono Display", monospace;*/
    font-size: 1.25rem;
    z-index: 8;
    /*text-shadow: #fff 0 1px 0;*/
    -webkit-font-smoothing: antialiased;
}

/*.btn--cta {*/
/*    font-weight: bold;*/
/*    border-radius: 23px;*/
/*    width: 160px;*/

/*}*/

/*.btn--red {*/
/*    color: white;*/
/*    background-color: #f05f40;*/
/*    border-color: #f05f40;*/
/*}*/

/*.btn--red:hover,*/
/*.btn--red:active,*/
/*.btn--red:focus,*/
/*.btn--red:active:focus {*/
/*    background-color: #df4929;*/
/*    border-color: #df4929;*/
/*}*/

/* ------------------------------------------------------------------ Main Section Tab Buttons*/

/* Learned from Tutorial (https://itnext.io/how-to-make-a-fancy-inverted-border-radius-in-css-5db048a53f95) */

[id^="heading"] > .row {
    overflow: hidden;
    /*padding-left: 10px;*/
    /*margin-left: -10px;*/
    /*border-left: 10px solid #000;*/
    /*box-sizing: content-box;*/
}

.tab-stack {
    float: left;
    position: relative;
}

@media (max-width: 575.98px) {

    .card--body {
        margin: 0;
    }

    [aria-labelledby^="heading"]:not([aria-labelledby$="Zero"]) {
        /*position: relative;*/
        height: 60vh;
        overflow-x: scroll;

    }

    [id^="heading"] > .row {
        height: 40px;
        /*padding-left: 10px;*/
        /*margin-left: -10px;*/
        /*border-left: 10px solid #000;*/
        /*box-sizing: content-box;*/
    }

    .tab-button .btn {
        font-size: .875rem;
        margin-top: 8px;
        height: 32px;
        float: left;
        padding: 3px 10px 10px 10px;
        border-left: 1px solid #707070;
        /*border-bottom: none;*/
        border-radius: 1rem 1rem 0 0;
        -webkit-border-radius: 1rem 1rem 0 0;
        -moz-border-radius: 1rem 1rem 0 0;
        width: 100%;

        box-shadow: -5px -10px 0 0 #fafafa, 200px 40px 0 0 #fafafa;
    }

    .tab-stack:after,
    .tab-button:after {
        position: absolute;
        bottom: 0;
        content: "";

        right: -1599px;
        width: 1600px;
        height: 20px;
        border-bottom-left-radius: 1rem;

        /*border: 1px solid #A4A4A4;*/
        border-top: none;

        background-color: transparent;
        box-shadow: -25px 0 0 0 #F2F1EF, -2px -5px 0 0 #BFBFBF inset, -2px -10px 0 0 #D7D7D6 inset, -2px -15px 0 0 #EFEEEC inset, 8px -57px 0 0 #FAFAFA;
    }

    [id$="Zero"] .tab-button .btn {
        box-shadow: -5px -8px 0 0 #000;
    }

    [id$="One"] .tab-button .btn {
        box-shadow: -5px -8px 0 0 #423C3A;
    }

    [id$="Two"] .tab-button .btn {
        box-shadow: -5px -8px 0 0 #B84A30;
    }

    [id$="Three"] .tab-button .btn {
        box-shadow: -5px -8px 0 0 #1D49B8;
    }

    [id$="Four"] .tab-button .btn {
        box-shadow: -5px -8px 0 0 #B8A922;
    }

    [id$="Five"] .tab-button .btn {
        box-shadow: -5px -8px 0 0 #234D3E;
    }

    [id$="Six"] .tab-button .btn {
        box-shadow: -5px -8px 0 0 #3E223D, 200px 40px 0 0 #3E223D;
    }

    [id^="collapse"] .card-right .card-body,
    [id^="collapse"] .card-right .card-header {
        box-shadow: none;
    }
}

/* ------------------------------------------------------------------------------- TAB ZERO */

/*[id$="Zero"]:not([id^="collapse"]) > .row {*/
/*    background: #F5F4F2;*/
/*}*/

/*[id$="Zero"] .btn,*/
/*[id$="Zero"] .card-left .card-header,*/
/*[id$="Zero"] .card-left > .card-footer {*/
/*    background: #2E2C2E;*/
/*}*/

/*[id$="Zero"] .tab-button .btn:before {*/
/*    box-shadow: -5px -10px 0 0 rgba(250, 250, 250, 1);*/
/*}*/

/*[id$="Zero"] .tab-button:after {*/
/*    box-shadow: -25px 0 0 0 #2E2C2E, -2px -10px 0 0 #F5F4F2 inset;*/
/*}*/

/*[id$="Zero"] .tab-stack:after {*/
/*    box-shadow: -25px 0 0 0 #2E2C2E, -2px -10px 0 0 rgba(250, 250, 250, .3) inset;*/
/*}*/

/* ------------------------------------------------------------------------------- TAB ONE */

/*[id$="One"]:not([id^="collapse"]) > .row {*/
/*    background: #2E2C2E;*/
/*}*/

/*[id$="One"] .btn,*/
/*[id$="One"] .card-left .card-header,*/
/*[id$="One"] .card-left > .card-footer,*/
/*[id$="One"] .card-right > .card-footer {*/
/*    background: #2E2C2E;*/
/*}*/

[data-toggle="collapse"][aria-expanded="true"][data-target$="One"].btn {
    background: #929181;
}

[data-toggle="collapse"][aria-expanded="true"][data-target$="One"].btn > span {
    color: #fafafa;
    text-shadow: #fff 0 1px 0;
    -webkit-font-smoothing: antialiased;
}


[data-toggle="collapse"][aria-expanded="true"][data-target$="One"].btn:after {
    box-shadow: -25px 0 0 0 #929181, -2px -10px 0 0 #B7B1A8 inset;
    z-index: 6;
}


/*[id$="One"] .btn {*/
/*    box-shadow: 0 -5px 0 0 #423c3a, 200px 40px 0 0 #423c3a;*/
/*}*/

/*[id$="One"] .tab-button .btn:before {*/
/*    box-shadow: -5px -10px 0 0 rgba(250, 250, 250, 1);*/
/*}*/

/*[id$="One"] .tab-button:after {*/
/*    box-shadow: -25px 0 0 0 #2E2C2E, -2px -10px 0 0 #423c3a inset;*/
/*}*/

/*[id$="One"] .tab-stack:after {*/
/*    box-shadow: -25px 0 0 0 #2E2C2E, -2px -10px 0 0 rgba(250, 250, 250, .3) inset;*/
/*}*/

/*[id$="One"] .card-right .card-body,*/
/*[id$="One"] .card-right .card-header {*/
/*    box-shadow: 5px 0 0 0 #2E2C2E inset, -5px 0 0 0 #2E2C2E inset;*/
/*}*/

/* ------------------------------------------------------------------------------- TAB TWO */

/*[id$="Two"]:not([id^="collapse"]) > .row {*/
/*    background: #2E2C2E;*/
/*}*/

/*[id$="Two"] .btn,*/
/*[id$="Two"] .card-left .card-header,*/
/*[id$="Two"] .card-left > .card-footer,*/
/*[id$="Two"] .card-right > .card-footer {*/
/*    background: #89413D;*/
/*}*/

[data-toggle="collapse"][aria-expanded="true"][data-target$="Two"].btn {
    background: #89413D;
}

[data-toggle="collapse"][aria-expanded="true"][data-target$="Two"].btn > span {
    color: #fafafa;
    text-shadow: #fff 0 1px 0;
    -webkit-font-smoothing: antialiased;
}


[data-toggle="collapse"][aria-expanded="true"][data-target$="Two"].btn:after {
    box-shadow: -25px 0 0 0 #89413D, -2px -10px 0 0 rgba(184, 74, 48, .2) inset;
    z-index: 6;
}

/*[id$="Two"] .btn {*/
/*    box-shadow: 0 -5px 0 0 #B84A30, 200px 40px 0 0 #B84A30;*/
/*}*/

/*[id$="Two"] .tab-button .btn:before {*/
/*    box-shadow: -5px -10px 0 0 rgba(250, 250, 250, 1), 200px 40px 0 0 rgba(184, 74, 48, .1);*/
/*}*/

/*[id$="Two"] .tab-button:after {*/
/*    box-shadow: -25px 0 0 0 #89413D, -2px -10px 0 0 #B84A30 inset;*/
/*}*/

/*[id$="Two"] .tab-stack:after {*/
/*    box-shadow: -25px 0 0 0 #89413D, -2px -10px 0 0 rgba(250, 250, 250, .3) inset;*/
/*}*/

/*[id$="Two"] .card-right .card-body,*/
/*[id$="Two"] .card-right .card-header {*/
/*    box-shadow: 5px 0 0 0 #89413D inset, -5px 0 0 0 #89413D inset;*/
/*}*/

/* ------------------------------------------------------------------------------- TAB THREE */

/*[id$="Three"]:not([id^="collapse"]) > .row {*/
/*    background: #89413D;*/
/*}*/

/*[id$="Three"] .btn,*/
/*[id$="Three"] .card-left .card-header,*/
/*[id$="Three"] .card-left > .card-footer,*/
/*[id$="Three"] .card-right > .card-footer {*/
/*    background: #37455C;*/
/*}*/

/*[id$="Three"] .card-headline {*/
/*    color: #FAFAFA;*/
/*    background-image: url("../images/blue_med_sm.png");*/
/*    background-attachment: scroll;*/
/*    background-position: left top;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/

/*}*/

[data-toggle="collapse"][aria-expanded="true"][data-target$="Three"].btn {
    background: #37455C;
}

[data-toggle="collapse"][aria-expanded="true"][data-target$="Three"].btn > span {
    color: #fafafa;
    text-shadow: #fff 0 1px 0;
    -webkit-font-smoothing: antialiased;
}


[data-toggle="collapse"][aria-expanded="true"][data-target$="Three"].btn:after {
    box-shadow: -25px 0 0 0 #37455C, -2px -10px 0 0 #1D49B8 inset;
    z-index: 6;
}

/*[id$="Three"] .tab-button .btn:hover,*/
/*[id$="Three"] .tab-button .btn:current,*/
/*[id$="Three"] .tab-button .btn:visited,*/
/*[id$="Three"] .tab-button .btn:active {*/
/*    background: #37455C;*/
/*    z-index: 2;*/
/*}*/

/*[id$="Three"] .tab-button:hover::after,*/
/*[id$="Three"] .tab-button:visited::after,*/
/*[id$="Three"] .tab-button:active::after {*/
/*    box-shadow: -25px 0 0 0 #37455C, -2px -5px 0 0 #89413D inset;*/
/*}*/

/*[id$="Three"] .btn {*/
/*    box-shadow: 0 -5px 0 0 #37455C, 200px 40px 0 0 #1D49B8;*/
/*}*/

/*[id$="Three"] .tab-button .btn:before {*/
/*    box-shadow: -5px -10px 0 0 rgba(250, 250, 250, 1);*/
/*}*/

/*[id$="Three"] .tab-button:after {*/
/*    box-shadow: -25px 0 0 0 #37455C, -2px -10px 0 0 #1D49B8 inset;*/
/*}*/

/*[id$="Three"] .tab-stack:after {*/
/*    box-shadow: -25px 0 0 0 #37455C, -2px -10px 0 0 rgba(250, 250, 250, .3) inset;*/
/*}*/

/*[id$="Three"] .card-right .card-body,*/
/*[id$="Three"] .card-right .card-header {*/
/*    box-shadow: 5px 0 0 0 #37455C inset, -5px 0 0 0 #37455C inset;*/
/*}*/

/* ------------------------------------------------------------------------------- TAB FOUR */

/*[id$="Four"]:not([id^="collapse"]) > .row {*/
/*    background: #37455C;*/
/*}*/

/*[id$="Four"] .btn,*/
/*[id$="Four"] .card-left .card-header,*/
/*[id$="Four"] .card-left > .card-footer,*/
/*[id$="Four"] .card-right > .card-footer {*/
/*    background: #D27511;*/
/*}*/

[data-toggle="collapse"][aria-expanded="true"][data-target$="Four"].btn {
    background: #D27511;
}

[data-toggle="collapse"][aria-expanded="true"][data-target$="Four"].btn > span {
    color: #fafafa;
    text-shadow: #fff 0 1px 0;
    -webkit-font-smoothing: antialiased;
}


[data-toggle="collapse"][aria-expanded="true"][data-target$="Four"].btn:after {
    box-shadow: -25px 0 0 0 #D27511, -2px -10px 0 0 #B8A922 inset;
    z-index: 6;
}
/*[id$="Four"] .btn {*/
/*    box-shadow: 0 -5px 0 0 #B8A922, 200px 40px 0 0 #B8A922;*/
/*}*/

/*[id$="Four"] .tab-button .btn:before {*/
/*    box-shadow: -5px -10px 0 0 rgba(250, 250, 250, 1);*/
/*}*/

/*[id$="Four"] .tab-button:after {*/
/*    box-shadow: -25px 0 0 0 #D27511, -2px -10px 0 0 #B8A922 inset;*/
/*}*/

/*[id$="Four"] .tab-stack:after {*/
/*    box-shadow: -25px 0 0 0 #D27511, -2px -10px 0 0 rgba(250, 250, 250, .3) inset;*/
/*}*/

/*[id$="Four"] .card-right .card-body,*/
/*[id$="Four"] .card-right .card-header {*/
/*    box-shadow: 5px 0 0 0 #D27511 inset, -5px 0 0 0 #D27511 inset;*/
/*}*/



/* ------------------------------------------------------------------------------- TAB FIVE */

/*[id$="Five"]:not([id^="collapse"]) > .row {*/
/*    background: #D27511;*/
/*}*/


[data-toggle="collapse"][aria-expanded="true"][data-target$="Five"].btn {
    background: #213128;
}

[data-toggle="collapse"][aria-expanded="true"][data-target$="Five"].btn > span {
    color: #fafafa;
    text-shadow: #fff 0 1px 0;
    -webkit-font-smoothing: antialiased;
}


[data-toggle="collapse"][aria-expanded="true"][data-target$="Five"].btn:after {
    box-shadow: -25px 0 0 0 #213128, -2px -10px 0 0 #234D3E inset;
    z-index: 6;
}

/*[id$="Five"] .btn {*/
/*    box-shadow: 0 -5px 0 0 #234D3E, 200px 40px 0 0 #234D3E;*/
/*}*/

/*[id$="Five"] .tab-button .btn:before {*/
/*    box-shadow: -5px -10px 0 0 rgba(250, 250, 250, 1);*/
/*}*/

/*[id$="Five"] .tab-button:after {*/
/*    box-shadow: -25px 0 0 0 #213128, -2px -10px 0 0 #234D3E inset;*/
/*}*/

/*[id$="Five"] .tab-stack:after {*/
/*    box-shadow: -25px 0 0 0 #213128, -2px -10px 0 0 rgba(250, 250, 250, .3) inset;*/
/*}*/

/*[id$="Five"] .card-right .card-body,*/
/*[id$="Five"] .card-right .card-header {*/
/*    box-shadow: 5px 0 0 0 #213128 inset, -5px 0 0 0 #213128 inset;*/
/*}*/


/* ------------------------------------------------------------------------------- TAB SIX */

/*[id$="Six"]:not([id^="collapse"]) > .row {*/
/*    background: #213128;*/
/*}*/

[data-toggle="collapse"][aria-expanded="true"][data-target$="Six"].btn {
    background: #2e2c2e;
}

[data-toggle="collapse"][aria-expanded="true"][data-target$="Six"].btn > span {
    color: #fafafa;
    text-shadow: #fff 0 1px 0;
    -webkit-font-smoothing: antialiased;
}


[data-toggle="collapse"][aria-expanded="true"][data-target$="Six"].btn:after {
    box-shadow: -25px 0 0 0 #2e2c2e, -2px -10px 0 0 #3E223D inset;
    z-index: 6;
}

/*[id$="Six"] .btn {*/
/*    box-shadow: -5px -10px 0 0 #fafafa, 200px 40px 0 0 #fafafa;*/
/*}*/

/*[id$="Six"] .tab-button .btn:before {*/
/*    box-shadow: -5px -10px 0 0 rgba(250, 250, 250, .5), 200px 40px 0 0 #fafafa;;*/
/*}*/

/*[id$="Six"] .tab-stack:after {*/
/*    box-shadow: -25px 0 0 0 #F2F1EF, -2px -10px 0 0 rgba(250, 250, 250, .3) inset;*/
/*}*/

/*[id$="Six"] .card-right .card-body,*/
/*[id$="Six"] .card-right .card-header {*/
/*    box-shadow: 5px 0 0 0 #2E2C2E inset, -5px 0 0 0 #2E2C2E inset;*/
/*}*/




/* ------------------------------------------------------------------ Media Queries */

@media (max-width: 575.98px) { ... }

@media (min-width: 576px) {

    .card--body {
        margin: 1rem;
    }

    .tab-button h4 > i {
        z-index: 12;
    }

    [id^="heading"] > .row {
        height: 60px;
        background: linear-gradient(#F2F1EF, #F8F7F6);
    }

    .tab-button .btn {
        overflow: visible;
        box-shadow: -5px -10px 0 0 #fafafa, 200px 40px 0 0 #fafafa, 8px 8px 0 0 #FAFAFA inset, -8px -8px 0 0 #D7D7D6 inset;
        margin-top: 10px;
        height: 50px;
        float: left;
        padding: 10px 10px 10px 20px;

        /*border: 1px solid #707070;*/
        border-bottom: none;
        /*border-left: 5px solid #D7D7D6;*/

        border-radius: 1.5rem 1.5rem 0 0;
        -webkit-border-radius: 1.5rem 1.5rem 0 0;
        -moz-border-radius: 1.5rem 1.5rem 0 0;
        width: 100%;
        /*z-index: 12;*/

    }

    .tab-button .btn:before {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        height: 50px;
        width: 100%;

        box-shadow: -5px -10px 0 0 rgba(0,0,0,.2), 200px 40px 0 0 rgba(0,0,0,.2);
        border-radius: 1.5rem 1.5rem 0 0;
        -webkit-border-radius: 1.5rem 1.5rem 0 0;
        -moz-border-radius: 1.5rem 1.5rem 0 0;
    }

    .tab-button:after,
    .tab-stack:after,
    .tab-button .btn:after {
        position: absolute;
        bottom: 0;
        content: "";

        right: -1599px;
        width: 1600px;
        height: 25px;
        border-bottom-left-radius: 1.875rem;

        /*border: 1px solid #A4A4A4;*/
        border-top: none;

        z-index: 1;

        background-color: transparent;
        box-shadow: -25px 0 0 0 #F2F1EF, 8px -57px 0 0 #FAFAFA;
        /*box-shadow: -25px 0 0 0 #F2F1EF, -2px -5px 0 0 #BFBFBF inset, -2px -10px 0 0 #D7D7D6 inset, -2px -15px 0 0 #EFEEEC inset, 8px -57px 0 0 #FAFAFA;*/
    }

    .tab-stack:after {
        /*box-shadow: -25px 0 0 0 #F2F1EF, -2px -10px 0 0 #D7D7D6 inset;*/

        box-shadow: -5px 5px 6px 0 rgba(255, 255, 255, 0.5), 5px -5px 6px 0 rgba(0, 0, 0, 0.2);
        box-shadow: inset -5px 5px 6px 0 rgba(255, 255, 255, 0.5), inset 5px -5px 6px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    [id$="Zero"] .tab-button .btn {
        box-shadow: -1px -10px 0 0 #B6B6B6, inset 2px 8px 6px 0 rgba(255, 255, 255, 0.4);
    }

    [id$="One"] .tab-button .btn {
        box-shadow: -1px -10px 0 0 #423C3A, inset 2px 8px 6px 0 rgba(255, 255, 255, 0.4);
    }

    [id$="Two"] .tab-button .btn {
        box-shadow: -1px -10px 0 0 #B84A30, inset 2px 8px 6px 0 rgba(255, 255, 255, 0.4);
    }

    [id$="Three"] .tab-button .btn {
        box-shadow: -1px -10px 0 0 #1D49B8, inset 2px 8px 6px 0 rgba(255, 255, 255, 0.4);
    }

    [id$="Four"] .tab-button .btn {
        box-shadow: -1px -10px 0 0 #B8A922, inset 2px 8px 6px 0 rgba(255, 255, 255, 0.4);
    }

    [id$="Five"] .tab-button .btn {
        box-shadow: -1px -10px 0 0 #234D3E;
    }

    [id$="Six"] .tab-button .btn {
        box-shadow: -1px -10px 0 0 #3E223D;
    }

    [id^="collapse"] .card-right .card-body,
    [id^="collapse"] .card-right .card-header {
        box-shadow: none;
    }
}

.footer-stack,
.footer-stack-right,
.footer-stack-left {
    /*box-shadow: -25px 0 0 0 #F2F1EF, -2px -10px 0 0 #D7D7D6 inset;*/

    bottom: 0;
    content: "";

    overflow-x: hidden;
    background: #F2F1EF;
    border: none;

    box-shadow: -5px 5px 6px 0 rgba(255, 255, 255, 0.5), 5px -5px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset -5px 5px 6px 0 rgba(255, 255, 255, 0.5), inset 5px -5px 6px 0 rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.footer-stack-right {
    border-bottom-left-radius: 1.875rem;
    /*border-top-left-radius: 1.875rem;*/
}

.footer-stack-left {
    border-bottom-right-radius: 1.875rem;
    /*border-top-right-radius: 1.875rem;*/
}



@media (min-width: 768px) {
    [id^="collapse"] .card-right .card-body {
        border: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /*...*/
}

@media (min-width: 992px) {
    /*    */
}

/* ------------------------------------------------------------------ Tab Toggle */

/* Sourced From (https://gist.github.com/absent1706/6ebcee9f2d7992e26f073905fc28ca97) */

[data-toggle="collapse"][aria-expanded="true"] .rotate-icon {
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}


/* ------------------------------------------------------------------ Landing Section/ Image */

/*.landing-headline h1 {*/
/*    color: #707070;*/
/*    text-shadow: #D7D7D6 0 3px 0, #fff 0 -4px 0;*/
/*    -webkit-font-smoothing: antialiased;*/
/*}*/

.landing-heading h1 {
    /*font-size: 3.5rem;*/
    font-weight: 400;
    color: #D7D7D6;
    text-shadow: #FAFAFA 0 3px 0, #A4A4A4 0 -1px 0;
    -webkit-font-smoothing: antialiased;
}

.landing-subheading {
    /*height: 130px;*/
}

.landing-subheading p {
    font-family: "Halyard Micro", monospace;
    font-size: .875rem;
    font-weight: 300;
    color: #707070;
    text-shadow: #FAFAFA 0 1px 0, #D4D6D6 0 -1px 0;
    -webkit-font-smoothing: antialiased;
}

.landing-subheading p span:nth-of-type(2) {
    color: #F26041;
    text-shadow: #FAA490 0 1px 0;
}

.landing-subheading p span:nth-of-type(1) {
    color: #187FE5;
    text-shadow: #affbff 0 1px 0;
}

.landing-subheading p span:nth-of-type(3) {
    color: #51d2bf;
    text-shadow: #afffb3 0 1px 0;
}

.landing-subheading p span:nth-of-type(4) {
    color: #8E0089;
    text-shadow: #ffb3fe 0 1px 0;
}

/*.btn--cta {*/
/*    font-weight: bold;*/
/*    border-radius: 23px;*/
/*    width: 160px;*/

/*}*/

/*.btn--red {*/
/*    color: white;*/
/*    background-color: #f05f40;*/
/*    border-color: #f05f40;*/
/*}*/

/*.btn--red:hover,*/
/*.btn--red:active,*/
/*.btn--red:focus,*/
/*.btn--red:active:focus {*/
/*    background-color: #df4929;*/
/*    border-color: #df4929;*/
/*}*/

.image-container {
    /*background-color: #E7E6E5;*/
    box-shadow: 0 3px 0 0 #FAFAFA, 0 -4px 0 0 #A4A4A4;
    width: 13rem;
    height: 13rem;
    padding: 1rem;
    border-style: solid;
    border-color: #F7F6F4;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

    background: #F2F1EF;
    /*CDCABB*/
    /*border-radius: 100%;*/
    box-shadow: inset -5.11px 5.11px 6px #FFFFFF, inset 5.11px -5.11px 6px #D1D0CF;
    /*background: linear-gradient(145deg, #FFFFFF, #C5C4C2);*/
    /*border-radius: 100%;*/
    box-shadow: inset 5.11px 5.11px 6px #D1D0CF, inset -5.11px -5.11px 6px #FFFFFF;
}

.image-container > img {
    height: 100%;
}

.tab-button span > i {
    color: #D4D6D6;
    text-shadow: 0 3px 0 0 #A4A4A4, 0 -4px 0 0 #fafafa;

    /*font-family: "Major Mono Display", monospace;*/
    font-size: 1.25rem;
    z-index: 8;
    /*text-shadow: #fff 0 1px 0;*/
    -webkit-font-smoothing: antialiased;
}


.social-links li a i {
    text-align: center;
    color: #D4D6D6;
    text-shadow: 0 3px 0 0 #A4A4A4, 0 -4px 0 0 #fafafa;

    /*font-family: "Major Mono Display", monospace;*/
    font-size: 1.25rem;
    z-index: 8;
    /*text-shadow: #fff 0 1px 0;*/
    -webkit-font-smoothing: antialiased;

    /*box-shadow: 0 1px 0 0 #FAFAFA inset, 0 -2px 0 0 #D7D7D6 inset;*/
    /*border: none;*/
    /*background-color: #F2F1EF;*/

}

.social-links li a:hover,
.social-links li a:active,
.social-links li a:focus {
    color: #F2F1EF;
}

/* ------------------------------------------------------------------ Vertical Scroller */

/*Neumorphic shadow inspired by (https://css-tricks.com/neumorphism-and-css/)*/


#verticalScroller {
    margin: 0 auto;
    position: relative;
    /*width: 400px;*/
    /*width: 100%;*/
    height: 150px;
    overflow: hidden;
    background: transparent;

    border-radius: .75rem;

    /*!*Main Background - hide when no scroll*/
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.5));

    box-shadow:
            0 3.3px 1px rgba(0, 0, 0, 0.3),
            0 -3.3px 1px rgba(255, 255, 255, 0.5),
            inset 0 2px 0 rgba(255, 255, 255, 1);

    /*Previous Options*/
    /*box-shadow: inset -5px 5px 6px 0 rgba(255, 255, 255, 0.5), inset 5px -5px 6px 0 rgba(0, 0, 0, 0.2);*/
    /*box-shadow: inset -5px -8px 6px 0 rgba(255, 255, 255, 0.5), inset 5px 8px 6px 0 rgba(0, 0, 0, 0.3);*/
}

#verticalScroller > div {
    position:absolute;
    height: auto;
    padding: 10px 10px 10px 10px;
}

#verticalScroller .recent-activity {
    overflow: hidden;
    border-radius: .6rem;
}

#verticalScroller .recent-activity.inset-item {
    /*height: 100px;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-color: #F7F6F4;*/
    /*border-radius: .6rem;*/
    /*border-color: #F7F6F4;*/

    /*background: #F2F1EF;*/
    /*background: #CDCABB;*/
    /*background: transparent;*/

    /*z-index: 10;*/

    /*box-shadow: -5px 5px 6px 0 rgba(255, 255, 255, 0.5), 5px -5px 6px 0 rgba(0, 0, 0, 0.2);*/
    /*border-radius: 20px;*/

    /*box-shadow: inset -5px 5px 6px 0 rgba(255, 255, 255, 0.5), inset 5px -5px 6px 0 rgba(0, 0, 0, 0.2);*/

    /*box-shadow: inset -5px -8px 6px 0 rgba(255, 255, 255, 0.5), inset 5px 8px 6px 0 rgba(0, 0, 0, 0.3);*/
}

.recent-activity {
    /*position: relative;*/
    border-radius: .6rem;
}

.activity-item {
    height: 100px;
    overflow: hidden;
    border: 2px solid #F7F7F7;
    border-radius: .6rem;

    background: linear-gradient(180deg, rgba(250, 250, 250, .7), rgba(0, 0, 0, .1));

    box-shadow:
            3px 0 0 rgba(180, 180, 180, .7),
            -3px 0 0 rgba(250, 250, 250, .4);

}

.activity-cta {
    /*border: 2px solid #FAFAFA;*/
}

ul {
    margin-block-end: 0;
}

.outset-outer {
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
    clip-path: inset(-.5rem);
    padding: 0;
}

.out-z {
    z-index: 5;
}

.outset-container {
    overflow: hidden;
    /*padding: .5rem;*/

    border-radius: .6rem;
    border-color: #F2F1EF;

    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    box-shadow:
            0 8px 3px rgba(0, 0, 0, 0.2),
            /*-3px 8px 3px rgba(255, 255, 255, 0.3),*/
            0 -6px 3px rgba(0, 0, 0, 0.3);

    /*OUT*/
    /*background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));*/
    /*box-shadow: 9.91px 9.91px 15px rgba(0, 0, 0, 0.2), -9.91px -9.91px 15px rgba(255, 255, 255, 0.3);*/

    /*IN*/
    /*background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));*/
    /*box-shadow: inset 10.21px 10.21px 15px rgba(0, 0, 0, 0.2), inset -10.21px -10.21px 15px rgba(255, 255, 255, 0.5);*/
}

.outset-container-2 {
    overflow: hidden;
    padding: .5rem;

    border-radius: .6rem;
    border-color: #F2F1EF;

    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));

    box-shadow:
            0 -8px 3px rgba(0, 0, 0, 0.2),
            /*4px 8px 3px rgba(255, 255, 255, 0.3),*/
            0 6px 3px rgba(0, 0, 0, 0.4);
}

.outset-inner {
    overflow: hidden;
    padding: .5rem;
    border-radius: .6rem;
    /*border-color: #F2F1EF;*/
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    box-shadow: 9.91px 9.91px 15px rgba(0, 0, 0, 0.2), -9.91px -9.91px 15px rgba(255, 255, 255, 0.3);
}

.social-links > .outset-container-2 {
    height: 4rem;
    width: 4rem;
    /*background-color: #A8ACA6;*/

    padding: .5rem;
    border-style: solid;
    border-color: #B6B6B6;
    border-width: 1px;
    border-radius: .5rem;
    margin: 0 auto;

    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    /*box-shadow: 9.91px 9.91px 15px rgba(0, 0, 0, 0.2), -9.91px -9.91px 15px rgba(255, 255, 255, 0.3);*/
}

.social-links .outset-container-2 a {
    width: 50px;
    height: 50px;

    padding: 1rem;
    border: 2px solid #E7E6E5;
    border-radius: 2rem;
    margin: 0 auto;
}

.inset-inner {
    background: linear-gradient(145deg, rgba(100, 100, 100, 0.1), rgba(255, 255, 255, 0.2));
    box-shadow: 0.3px 0.3px 1px rgba(237, 238, 243, 0.1), -0.3px -0.3px 1px rgba(239, 241, 245, 0.1);
}

.inset-container {
    overflow: hidden;
    padding: .5rem;
    box-shadow: 5px 5px 6px 0 rgba(255, 255, 255, 0.5), -5px -5px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: .75rem;

    box-shadow: inset -5px -8px 6px 0 rgba(255, 255, 255, 0.5), inset 5px 8px 6px 0 rgba(0, 0, 0, 0.3);
}

.inset-container-1 {
    overflow: hidden;
    padding: .5rem;
    border-radius: .75rem;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.5));

    box-shadow:
            0 3.3px 1px rgba(0, 0, 0, 0.3),
            0 -3.3px 1px rgba(255, 255, 255, 0.5),
            inset 0 2px 0 rgba(255, 255, 255, 1);
}

.inset-container-2 {
    overflow: hidden;
    margin: 0 -.5rem 0 -.5rem;
    padding: .5rem .5rem .5rem .5rem;
    box-shadow: 5px 5px 6px 0 rgba(255, 255, 255, 0.5), -5px -5px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: .75rem;

    box-shadow: inset -5px -8px 6px 0 rgba(255, 255, 255, 0.5), inset 5px 8px 6px 0 rgba(0, 0, 0, 0.2);
}

.inset-container-3 {
    overflow: hidden;
    padding: .3rem;
    border-radius: 1.25rem;

    box-shadow: inset -5px -8px 6px 0 rgba(255, 255, 255, 0.5), inset 3px 6px 6px 0 rgba(0, 0, 0, 0.3);
}

.inset-container-4 {
    overflow: hidden;
    padding: .3rem;
    border-radius: 1.25rem;
    width: min-content;

    box-shadow: inset -5px -8px 6px 0 rgba(255, 255, 255, 0.5), inset 3px 6px 6px 0 rgba(0, 0, 0, 0.3);
}

.inset-container-5 {
    overflow: hidden;
    padding: .5rem;
    /*box-shadow: 5px 5px 6px 0 rgba(255, 255, 255, 0.5), -5px -5px 6px 0 rgba(0, 0, 0, 0.2);*/
    border-radius: .75rem;

    /*box-shadow: inset -5px -8px 6px 0 rgba(255, 255, 255, 0.5), inset 5px 8px 6px 0 rgba(0, 0, 0, 0.3);*/
}

.inset-container-6 {
    overflow: hidden;
    padding: .3rem;
    border-radius: 1.25rem;

    margin-top: 3px;
    margin-bottom: 3px;

    box-shadow:
            inset 0 3.3px 1px #B0B2B5,
            inset 0 -3.3px 1px #FFFFFF;
}


.inset-item {
    position: relative;
    border-radius: .6rem;
    border: none;
}

.inset-item-1 {
    position: relative;
    border: 2px solid #F7F7F7;
    border-radius: .6rem;

    /*background: linear-gradient(180deg, rgba(250, 250, 250, .7), rgba(0, 0, 0, .1));*/

    box-shadow:
            3px 0 0 rgba(180, 180, 180, .7),
            -3px 0 0 rgba(250, 250, 250, .4);

}

.inset-item-2 {
    position: relative;
    border: 2px solid #F7F7F7;
    border-radius: .6rem;

    background: linear-gradient(180deg, rgba(250, 250, 250, .7), rgba(0, 0, 0, .1));

    box-shadow:
            3px 0 0 rgba(180, 180, 180, .7),
            -3px 0 0 rgba(250, 250, 250, .4);

}

.inset-item:after {
    position: absolute;
    bottom: 0;
    content: "";

    right: 0;
    top: 0;

    width: 100%;
    height: 100%;

    border-radius: .6rem;

    background: linear-gradient(
            -45deg,
            rgba(0, 0, 0, 0.1),
            rgba(255, 255, 255, 0.2)
    );
}

.inset-item-1:after {
    position: absolute;
    bottom: 0;
    content: "";

    right: 0;
    top: 0;

    width: 100%;
    height: 100%;

    border-radius: .6rem;

    background: linear-gradient(
            180deg,
            rgba(250, 250, 250, .7),
            rgba(0, 0, 0, .1)
    );
}
/* ------------------------------------------------------------------ Shadows and Insets */

.card--body {
    margin: 1rem;
}

.experience-item {
    padding: .5rem 1rem;

    background: linear-gradient(
            180deg, rgba(250, 250, 250, .7),
            rgba(0, 0, 0, .1)
    );

}

.experience-item .list-group-item {
    border: none;
}

/*----------------------------------------------------------- Landing and Title */

/*GitHub styles*/

.repo-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.repo-html{
    color: #E14C30;
}

.repo-css {
    color: #543D76;
}

.repo-python {
    color: #3973A3;
}

.repo-javascript {
    color: #F1DF64;
}

.shin-1 {
    box-shadow: 0 1px 0 0 #D7D7D6 inset, 0 -2px 0 0 #FAFAFA inset;
    border: none;
    background-color: #F2F1EF;
}

.shout-1 {
    box-shadow: 0 1px 0 0 #FAFAFA inset, 0 -2px 0 0 #D7D7D6 inset;
    border: none;
}

.shin-2 {
    box-shadow: 0 3px 0 0 #D7D7D6 inset, 0 -4px 0 0 #FAFAFA inset;
    border: none;
}

.shout-2 {
    box-shadow: 0 3px 0 0 #FAFAFA inset, 0 -4px 0 0 #D7D7D6 inset;
    border: none;
}

.shout-2-l {
    box-shadow: 3px 0 0 0 #D7D7D6 inset, -4px 0 0 0 #FAFAFA inset;
    border: none;
}

.shout-2-r {
    box-shadow: 3px 0 0 0 #FAFAFA inset, -4px 0 0 0 #D7D7D6 inset;
    border: none;
}

.shout-2-full {
    box-shadow: 3px 3px 0 0 #FAFAFA inset, -4px -4px 0 0 #D7D7D6 inset;
    border: none;
}

.shin-2-full {
    box-shadow: 3px 3px 0 0 #D7D7D6 inset, -4px -4px 0 0 #FAFAFA inset;
    border: none;
}

.sho-1 {
    box-shadow: 0 1px 0 0 #FAFAFA inset;
    border: none;
}

.sho-2 {
    box-shadow: 0 3px 0 0 #FAFAFA inset;
    border: none;
}

.shi-1 {
    box-shadow: 0 1px 0 0 #D7D7D6 inset;
    border: none;
}

.shi-2 {
    box-shadow: 0 3px 0 0 #D7D7D6 inset;
    border: none;
}

.shi-b-1 {
    box-shadow: 0 -2px 0 0 #D7D7D6 inset;
    border: none;
}

.sho-l-1 {
    box-shadow: 1px 0 0 0 #FAFAFA inset;
    border: none;
}

.sho-l-2 {
    box-shadow: 3px 0 0 0 #FAFAFA inset;
    border: none;
}

.shi-l-1 {
    box-shadow: 1px 0 0 0 #D7D7D6 inset;
    border: none;
}

.shi-l-2 {
    box-shadow: 3px 0 0 0 #D7D7D6 inset;
    border: none;
}

.sho-r-1 {
    box-shadow: -1px 0 0 0 #FAFAFA inset;
    border: none;
}

.sho-r-2 {
    box-shadow: -3px 0 0 0 #FAFAFA inset;
    border: none;
}

.shi-r-1 {
    box-shadow: -1px 0 0 0 #D7D7D6 inset;
    border: none;
}

.shi-r-2 {
    box-shadow: -3px 0 0 0 #D7D7D6 inset;
    border: none;
}

/* ------------------------------------------------------------------ Contact Section/ Form */
