
/*------------------------------------------------------CONTAINER TESTING*/

/*body {*/
/*    background-color: #27274d;*/
/*}*/

/*.container, .container-fluid {*/
/*    background-color: #27274d;*/
/*    border: black solid 15px;*/
/*    color: rgb(0, 0, 0);*/
/*}*/

/*.row {*/
/*    background-color: rgb(236, 93, 23);*/
/*    border: rgb(255, 199, 64) solid 10px;*/
/*}*/

/*[class*="col"]{*/
/*    border: black solid 5px;*/
/*    background-color: rgb(100, 0, 228);*/
/*    color: rgb(255, 255, 255);*/
/*}*/

/*------------------------------------------------------CARD TYPE*/

/*body {*/
/*    background-color: #27274d;*/
/*}*/

/*.container, .container-fluid {*/
/*    margin-top: 50px;*/
/*}*/

/*.row {*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*}*/

/*[class*="col"]{*/
/*    !*border: 1px solid #707070;*!*/
/*    !*background-color: rgb(100, 0, 228);*!*/
/*    color: rgb(255, 255, 255);*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*}*/

/*.card {*/
/*    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);*/
/*    border: none;*/
/*}*/

/*.card-header,*/
/*.card-body {*/
/*    border: 1px solid rgba(112, 112, 112, 0.125);*/
/*    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);*/
/*}*/

/*.main-tab,*/
/*.main-body {*/
/*    box-shadow: -10px -10px 0 0 #B84A30;*/
/*}*/

/*.main-tab {*/
/*    padding-right: 16px;*/
/*    padding-left: 16px;*/
/*    border-radius: 30px 30px 0 0;*/
/*    height: 60px;*/
/*}*/

/*.main-body {*/
/*    border-right: 10px solid #27274d;*/
/*}*/

/*.bg-body {*/
/*    background-color: #27274d;*/
/*}*/

/*.about-section .card-header {*/
/*    background-color: #27274d;*/
/*}*/

/*.about-section .card-body {*/
/*    background-color: #B84A30;*/
/*}*/


/*------------------------------------------------------CARD TYPE all white*/



body {
    /*background-color: #27274d;*/
}

p {
    font-size: 0.875rem;
    font-weight: 300;
}

/*.parallax {*/
/*    position: relative;*/
/*    display: flex;*/
/*    left: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    margin: 0 auto;*/
/*    padding: 0 0.75rem;*/
/*    z-index: 0;*/
/*}*/

/*.body-parallax {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    z-index: 0;*/
/*}*/

/*.parallax-group {*/
/*    position: relative;*/
/*    display: block;*/
/*    height: 100vh;*/
/*    border-right: 1px solid #687789;*/
/*}*/

/*.parallax-group:nth-child(1) {*/
/*    border-left: 1px solid #687789;*/
/*    animation: expand 200ms normal ease-out;*/
/*}*/

/*.parallax-group:nth-child(2) {*/
/*    animation: expand 400ms normal ease-out;*/
/*}*/

/*.parallax-group:nth-child(3) {*/
/*    animation: expand 600ms normal ease-out;*/
/*}*/

/*.parallax-group:nth-child(4) {*/
/*    display: none;*/
/*    animation: expand 800ms normal ease-out;*/
/*}*/

/*@media only screen and (min-width: 1360px) {*/
/*    .parallax {*/
/*        max-width: 1488px;*/
/*        padding: 0 2em;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1280px) {*/
/*    .parallax {*/
/*        padding: 0 calc(50% - 40em);*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 60em) {*/
/*    .parallax {*/
/*        padding: 0 2rem;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 40em) {*/

/*    .parallax {*/
/*        padding: 0 2rem;*/
/*    }*/
/*    .parallax-group {*/
/*        width: 25%;*/
/*    }*/

/*    .parallax-group:nth-child(4) {*/
/*        display: block;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 20em) {*/
/*    .parallax {*/
/*        padding: 0 0.75rem;*/
/*    }*/
/*}*/

.gr-1 {
    border-left: 3px solid #DDE0E5;
    height: 100vh;
    position: absolute;
}

.vd-1 {
    background: red;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    /*right: -15px;*/
}

[class*="bg"] {
    background: transparent no-repeat left top;
    background-size: 100% 100%;
}

[class*="mg"] {
    background: transparent no-repeat left top;
    background-size: 100%;
}

[class*="hg"] {
    /*width: 100%;*/
    background-attachment: scroll;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

[class*="ag"] {
    /*height: 100%;*/
    background-attachment: scroll;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 5px;
}


/* Parallax from W3 Schools */
[class*="fg"] {
    /* The image used */
    /*background-image: url("../images/grey_med_xl.png");*/

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

[class$="black"]{
    background-image: url("../images/black_med_sm.png");
}

[class$="grey"]{
    background-image: url("../images/grey_lte_sm.png");
}

[class$="red"] {
    background-image: url("../images/red_med_sm.png");
}

[class$="blue"] {
    background-image: url("../images/blue_med_sm.png");
}

[class$="green"] {
    background-image: url("../images/green_med_sm.png");
}

[class$="yellow"] {
    background-image: url("../images/yellow_drk_sm.png");
}


.container, .container-fluid {
    /*margin-top: 50px;*/
    /*padding-top: 50px;*/
    padding-left: 0;
    padding-right: 0;
}

.container {
    /*margin-right: 0;*/
    /*margin-left: 0;*/
}

.container-fluid.main {
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    /*Change to vh for parallax*/
    height: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

[class*="col"]{
    /*border: 1px solid #707070;*/
    /*background-color: rgb(100, 0, 228);*/
    /*color: rgb(255, 255, 255);*/
    padding-left: 0;
    padding-right: 0;
}

.accordion {
    z-index: 3;
    border-radius: 10px;
    width: 540px;
    margin: 0 auto;
    height: 414px;
    /*position: absolute;*/
    left: 0;
    top: 40%;
    box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.11);
    -webkit-animation: intro 0.34s 0.4s cubic-bezier(1, 1.4, 0.41, 1.01) forwards;
    animation: intro 0.34s 0.4s cubic-bezier(1, 1.4, 0.41, 1.01) forwards;
    -webkit-transform: translateY(-50%) scale(0) rotateX(10deg) rotateY(10deg) rotateZ(10deg);
    transform: translateY(-50%) scale(0) rotateX(10deg) rotateY(10deg) rotateZ(10deg);
    margin: auto;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}


.accordion {
    /*height: 70vh;*/
}

/*.panel-group {*/
/*    margin-bottom: 0;*/

/*.panel {*/
/*    border-radius: 0;*/

/*&+.panel {*/
/*     margin-top: 0;*/
/* }*/

/*&-body {*/
/*     height: calc(100vh - 90px);*/
/* }*/
/*}*/
/*}*/

/*.panel-default {*/
/*& > .panel-heading {*/
/*      height: 36px;*/
/*  }*/
/*}*/

.card {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);
    border: none;
}

.card-header,
.card-body {
    border: 1px solid rgba(112, 112, 112, 0.125);
}

.card-body {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);
}

.card-header {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .2);
    padding: .25rem .75rem;
}

.card-footer {
    padding: .25rem .75rem;
}

.card.card-left,
.card-left > .card-header,
.card-left > .card-body {
    box-shadow: none;
    background-color: inherit;
}

.card.card-right,
.card-right > .card-header,
.card-right > .card-body {
    box-shadow: none;
    background-color: inherit;
}

.main-tab,
.main-body {
    /*box-shadow: -10px -10px 0 0 #B84A30;*/
}

.main-tab {
    padding-right: 16px;
    padding-left: 16px;
    /*border-radius: 30px 30px 0 0;*/
    height: 60px;
}

.main-body {
    border-right: 10px solid #27274d;
}

.bg-body {
    background-color: #27274d;
}

.about-section .card-header {
    background-color: #27274d;
}

.about-section .card-body {
    background-color: #B84A30;
}


